* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    background-color: #e5e5e5;
}

.container {
    background-color: #f4f4f4;
    width: 375px;
    margin: 0 auto;
    margin-top: 100px;
}



header {
    background-color: #E00700;
    height: 66px;
}



h1 {

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
    text-align: center;
    padding-top: 24px;

}

main {
    padding: 24px;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5a5858;

}

select {
    background: #FFFFFF;
    border: 1px solid #8b8b8b;
    border-radius: 6px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 25px;

}

input {
    background: #FFFFFF;
    border: 1px solid #8b8b8b;
    border-radius: 6px;
    height: 48px;
    display: block;
    width: 100%;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    font-weight: bold;
    appearance: none;
}


button {
    background-color: #FF0700;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    margin-top: 24px;
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #F4F4F4;
    cursor: pointer;
    border: none;
    margin-top: 24px;
    margin-bottom: 36px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}


section {
    border: 1px solid #B30900;
    border-radius: 6px;
}


.currency-container {
    text-align: center;
    padding: 10px;
}

.currency-name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #363636;

}

.currency-value {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FF1700;
}

.arrow-png{
    display: block;
    margin: 15px auto;
}